@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: black;
}

.img {

    height: 300px;
    display: flex;
    justify-content: center;
    background-image: url("/img/imgheader.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}


.collapse {
    display: flex;
    justify-content: center;
}

.bg-light {
    background-color: #f8f9fa00 !important;
}

#nopadd {

    padding-top: 0px;
    padding-bottom: 0px;
}

.imgheader {

    width: auto;
    height: 150px;
}

#bordimg {
    border: 2px solid black;
}

.foot {


    background-color: black;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #F0BD5B;
}

#padd {
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 100%;
    padding-right: 0;
    margin-right: 20px;

    height: 150px;

}


#width {

    width: 100%;
    margin: 0;
}

#width2 {
    padding: 0;
    width: 100%;
}

.color {

    color: white;
}


#footcol {
    display: flex;
    flex-direction: column;
}

.imgrs {

    cursor: pointer;
    margin-right: 20px;
}


#footcol2 {
    display: flex;
    flex-direction: column;
}

.nav-item {

    margin-right: 30px;
}

.loos {

    color: rgb(255, 255, 255);
}

.loos:hover {

    color: #F0BD5B;
}

li {
    display: inline-block;
    min-width: 60px;
}

li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    color: #F0BD5B;

}

li a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}

li a:hover:after {
    width: 90%;
    background: #F0BD5B;
}


.colorW {
    color: white;
    font-size: 25px;
    margin-left: 80px;
    margin-top: 50px;
}

.contact {
    width: 50%;

}

.centerC {

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contactField {
    display: flex;
    justify-content: center;
    align-content: center;
}

#nopaddC {
    padding: 0;
    margin-right: 0;
}

#nopaddC2 {
    padding: 0;
}

#nopaddR {
    padding: 0;

}

.colorp {
    color: white;
    padding: 50px;
}

.form-control {
    width: 50%;
}

.form-group {
    width: 50%;
    margin: 0;
}

/* Page piercing*/
.piercingtitre {
    color: white;

}

.men {
    color: white;
    margin-right: 60px;

}

.men:hover {
    color: #F0BD5B;
}

.fade {
    color: white;
}

.imgpiercing {
    width: 270px;
    height: 300px;
}

.Pagepiercing {
    display: flex;
    margin-bottom: 30px;
}

.galerie {
    width: auto;
    height: 300px;
    background-color: rgb(116, 116, 116);
    margin-bottom: 30px;
}

.btnrdv {
    width: auto;
    background-color: black;
    color: white;
    border: 1px solid;
    border-color: #F0BD5B;
    margin-bottom: 60px;

}

.imgpiercing2 {
    width: 300px;
    height: 200px;
}

.Pagepiercing2 {
    display: flex;
}

.descript {
    color: white;
}

.nav-tabs {
    height: 40px;
    border: 1px solid;
    border-color: #F0BD5B;
    width: auto;

}

li a {
    line-height: 40px;
}

/* Page tatouages onglet tatouages */



.tatouagestitre {
    color: white;

}

.men {
    color: white;
    margin-right: 60px;
    font-family: 'Special Elite', cursive;

}

.men:hover {
    color: #F0BD5B;
}

.men:after {
    content: none;
}

.fade {
    color: white;
}

.imgtatouages {
    width: 270px;
    height: 300px;
}

.Pagetatouages {
    display: flex;
    margin-top: 50px;
}

.galerie {
    width: auto;
    height: 300px;
    background-color: rgb(116, 116, 116);
    margin-top: 30px;
}

.btnproj {
    width: auto;
    background-color: black;
    color: white;
    border: 1px solid;
    border-color: #F0BD5B;
    margin-bottom: 60px;
    margin: 10px;


}

.imgtatouages2 {
    width: 300px;
    height: 200px;
    padding-top: 45px;

}

.Pagetatouages2 {
    display: flex;
    padding-top: 30px;

}

.descript {
    color: white;
    margin-top: 20px;
}

.nav-tabs {
    height: 40px;
    border: 1px solid;
    border-color: #F0BD5B;
    width: auto;

}



.projets {
    color: white;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

#projects {
    text-align: center;
}

.mow {
    color: white;
    font-family: 'Special Elite', cursive;
}

/* Page tatouages onglet prints */

.container h2 {
    font-family: 'Special Elite', cursive;
}

.card {
    background-color: black;
    border: 1px solid;
    border-color: #F0BD5B;

}

.card-text {
    color: white;
}


.cstm-height-card .card-img-top {
    height: 100px;
    object-fit: cover;
}

#btnprints {
    background-color: black;
    color: white;
    border: 1px solid;
    border-color: #F0BD5B;
}


.container {
    width: 1180px;
    margin-top: 3em;
}

/* faq */

#accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
}

#accordion a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #F0BD5B;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
    background-color: #F0BD5B;
    color: white;
    transition: all 0.2s ease-in;
}

#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
    color: white;
}

#accordion .panel-heading {
    padding: 0;
    border-radius: 0px;
    text-align: center;
}

#accordion .panel-heading a:not(.collapsed) {
    color: white;
    background-color: #F0BD5B;
    transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {

    float: left;
    color: white;
    font-weight: lighter;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
}

#accordion .panel-heading .accordion-toggle.collapsed::before {

    transform: rotate(-135deg);
    transition: all 0.2s ease-in;
}

#accordion p {
    text-align: center;
}

a {
    color: inherit;
}

/*! Page 'qui sommes nous' - TOM */

/*? Container englobant toute la section */
.ctnr-qsn {
    padding: 0 20px 0 20px;
    margin: 35px 0px 35px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

/*? Container englobant le titre 'Qui sommes nous' */
.qsn-titre {
    margin: 75px 0px 75px 0px;
}

/*? Juste le titre */
.titre-qsn {
    text-align: center;

}

/*? Container englobant toute la div contenant l'image et la présentation de la perceuse */
.zone-perceuse {
    width: 65%;
}

.zone-texte-perceuse {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*? Style éphémère des galeries d'images */
.galerie1,
.galerie2 {
    width: 100%;
    height: 350px;
    background-color: red;
}
