<div id="width" class="row">

    <div id="width2" class="col-md-12">

        <div class="foot">
            <div id="padd" class="col-md-1"> <img  class="imgheader" src="{{ asset('/img/logoheader.png')}}"></div>
            <div id="footcol" class="col-md-3 offset-md-2">
                <p class="color"><a>Notre Salon</a></p>
                <p class="color"><a>Texte à Add </a></p>
                <br>
                <p class="color"><a>Suivre la communauté PicSteel</a> </p>
                <div><img class="imgrs" src="{{asset('img/facebook.png')}}">   <img class="imgrs" src="{{asset('img/instagram.png')}}"> </div>

            </div>
            <div id="footcol2" class="col-md-3 offset-md-2">
                <p class="color"><a>Qui Sommes-nous</a></p>
                <p class="color"><a>Texte à Add </a></p>
                
               

            </div>
        </div>

    </div>

</div>