

<div class="img">
<div id="menu">
<nav    class="navbar navbar-expand-lg navbar-light bg-light">
  
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#"> <span class="loos">Piercings</span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="loos">Tatouages</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="loos">Qui sommes-nous</span></a>
      </li>
    <div class="nav-item">
        <a  id="nopadd" class="nav-link" href=""><img  class="imgheader" src="{{asset('/img/logoheader.png')}}"></a>
      </div>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="loos">Soins</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="loos">FAQ</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="loos">Contact<span></a>
      </li>
    </ul>

  </div>
</nav>
</div>

</div>