{% extends 'base.html.twig' %}

{% block title %}Hello QsnController!{% endblock %}

{% block body %}

<section class="ctnr-qsn">
    
    <div class="row qsn-titre">
        <div class="col-12">
            <h1 class="titre-qsn">Qui sommes nous ?</h1>
        </div>
    </div>
    
    <div class="row zone-perceuse">
        <div class="col-md-6">
            <img src="{{ asset('img/mow-tatoueuse.jpeg') }}" alt="Mow" width=400 />
        </div>
        <div class="col-md-6 zone-texte-perceuse">
            <h2 class="titre-perceuse">Cécyl</h2>
            <p class="presentation-perceuse">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam facilis explicabo modi, quas nulla natus, quidem qui culpa commodi illo eum atque, sed exercitationem reiciendis perspiciatis voluptatibus temporibus repudiandae enim! Vel doloremque est minima vero ipsa dolorum officia, fuga culpa sapiente temporibus beatae nam vitae et amet cum architecto velit. Nesciunt fuga tempore placeat delectus quos velit expedita exercitationem mollitia accusamus porro. Accusamus voluptatum numquam modi veritatis sit rerum officiis facere iste et quam repellat doloremque tempora nesciunt recusandae obcaecati expedita harum asperiores quis, in iure consequatur pariatur porro sed. Aliquam ipsa praesentium reprehenderit ea odio quia mollitia ipsum. Rem.</p>
        </div>
    </div>

    <div class="galerie1"></div>

    <div class="row">
        <div class="col-md-6">
            <img src="{{ asset('img/facebook.png') }}" alt="Mow" width=60 />
        </div>
        <div class="col-md-6">
            <img src="{{ asset('img/instagram.png') }}" alt="Mow" width=60 />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <img src="{{ asset('img/mow-tatoueuse.jpeg') }}" alt="Mow" width=350 />
        </div>
        <div class="col-md-6">
            <h2 class="titre-perceuse">Mow</h2>
            <p class="presentation-perceuse">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam facilis explicabo modi, quas nulla natus, quidem qui culpa commodi illo eum atque, sed exercitationem reiciendis perspiciatis voluptatibus temporibus repudiandae enim! Vel doloremque est minima vero ipsa dolorum officia, fuga culpa sapiente temporibus beatae nam vitae et amet cum architecto velit. Nesciunt fuga tempore placeat delectus quos velit expedita exercitationem mollitia accusamus porro. Accusamus voluptatum numquam modi veritatis sit rerum officiis facere iste et quam repellat doloremque tempora nesciunt recusandae obcaecati expedita harum asperiores quis, in iure consequatur pariatur porro sed. Aliquam ipsa praesentium reprehenderit ea odio quia mollitia ipsum. Rem.</p>
        </div>
    </div>

    <div class="galerie1"></div>

    <div class="row">
        <div class="col-md-6">
            <img src="{{ asset('img/facebook.png') }}" alt="Mow" width=60 />
        </div>
        <div class="col-md-6">
            <img src="{{ asset('img/instagram.png') }}" alt="Mow" width=60 />
        </div>
    </div>
</section>


{% endblock %}
