{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div id="nopaddR" class="row">

    <div id="nopaddC" class="col-md-6">
        <div class="contact">
            <h1 class="colorW">Contact</h1>
        </div>
        <div class="centerC">
            <div class="contactField">
                <p class="colorp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis faucibus nullam
                    mauris sollicitudin viverra vel tincidunt egestas velit. Dignissim fringilla nunc ornare purus eget
                    velit, aliquet. Arcu pulvinar nulla eu et habitasse dignissim posuere. Parturient et, id fermentum
                    imperdiet ornare enim. Amet egestas quisque tincidunt sed ipsum convallis. Et sapien purus amet
                    vitae praesent a faucibus vitae. Diam id sapien venenatis nec integer nec. Amet congue nulla pretium
                    risus, amet.

                    <br><br>+ lien cliquez ici pour devis tatouage et tarifs piercings.</p>
            </div>
        </div>
    </div>
    <div id="nopaddC2" class="col-md-6">

        {{ form_start(form) }}
        {{ form_row(form.email, {'label':'Adresse éléctronique','attr': {'placeholder':'Votre adresse email'}}) }}
        {{ form_row(form.Sujet, {'label':'Votre Nom et Prénom','attr': {'placeholder':'Nom/Prénom'}}) }}
        {{ form_row(form.message, {'label':'Votre Message','attr': {'placeholder':'Veulliez écrire votre message'}})
        }}
        {{ form_end(form) }}

    </div>
</div>



{% endblock %}